$black: #000000;
$white: #FFFFFF;
$purple: #a408ff;
$dark-gray-1: #313131;
$dark-gray-2: #1C1C1C;
/* style guide for the site - dark greys are colours for gradient */
$side-panel-width: 70px;
$header-height: 65px;

/* style guide for the site */