.blog {
    box-sizing: border-box;
    text-align: left;
    padding: 1rem;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(350px,1fr) );
    grid-gap: 1rem;

}

.item {
    box-shadow: 10px 10px 30px 10px #161616;
    padding: 1rem;
}

.cardImg{
   box-sizing: border-box;
   object-position: center;
   padding: 0 0 1rem 0;
   display: grid;
   max-width: 100%;
   height: auto;
   overflow: hidden;
   object-fit: cover;
}

.button{
    margin-bottom: 0;
}